{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="School system" />
	<meta name="author" content="Famitech solutions" />
	<title> School System
		{% block title %}
		{% endblock %}
	</title>
    <!-- This is the link to the CSS -->
    
        {% include 'includes/_header_css.html' %}
        {% load static %}

</head>
<!-- END HEAD -->

<body>
	<div class="page-wrapper">
        {% block content %}
    
        {% endblock %}
	</div>
	<!-- start js include path -->
    {% include 'includes/_footer_js.html' %}
	<!-- end js include path -->
</body>

</html>